.projects {
    background-color: $black;
    color: $white;
    width: 100%;
    padding: 0px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        margin-top: 20px;
        font-size: $h3;
    }

}