.navbar {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: $white;


    .navbarBody {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbarBodyRight {
            width: 30%;
        }

        .navbarBodyLeft {
            display: flex;
            width: 100%;
            justify-content: space-around;
            font-size: 1.1em;
            font-weight: 600;

            a {
                text-decoration: none;
                color: $black;

            }

            :hover {
                color: $third;
            }
        }
    }
}