.profil {
    background-color: $black;
    color: $white;
    width: 100%;
    padding: 50px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $text;

    .profilCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        li {
            display: flex;
            align-items: center;
            justify-content: center;

            .cardRight {
                width: 60%;
                display: flex;
                flex-direction: column;


                gap: 40px;

                h3 {
                    margin-top: 20px;
                    font-size: $h3;
                    font-family: $title;
                }

                p {
                    line-height: 1.5em;
                }
            }

            .cardLeft {
                width: 40%;

                img {
                    width: 100%;
                    border-radius: 50%;
                    border: dotted 3px $first;
                }
            }
        }
    }
}